<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Confirmar Exclusão</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <!-- Menu aqui (copiar do seu atual) -->
</header>

<section class="form-section">
    <div class="form-container">
        <h2>Remover Usuário</h2>
        <p>Você quer remover o colaborador <strong>{{ colaborador.nome }}</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <div class="botoes">
                <button type="submit" class="botao excluir">Remover</button>
                <a href="#" class="botao cancelar">Cancelar</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>
